<?xml version='1.0' encoding='utf-8'?>
<plugin id="admob-plus-cordova" version="2.0.0-alpha.19"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>admob-plus-cordova</name>
    <js-module name="AdMob" src="www/admob.js">
        <clobbers target="admob" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=7.0.0" />
        <engine name="cordova-android" version=">=6.0.0" />
    </engines>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:excludeFromRecents="true"
                android:name="com.google.android.gms.ads.AdActivity" android:noHistory="true" />
            <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-5911839694379275~4255791238" />
            <meta-data android:name="com.google.android.gms.ads.DELAY_APP_MEASUREMENT_INIT"
                android:value="true" />
            <meta-data android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
                android:value="true" />
            <meta-data android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
                android:value="true" />
            <meta-data android:name="com.google.android.gms.ads.flag.INTEGRATION_MANAGER"
                android:value="webview" />
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AdMob">
                <param name="android-package" value="admob.plus.cordova.AdMob" />
            </feature>
        </config-file>

        <framework src="com.google.android.gms:play-services-ads:25.4.0" />
        <framework src="com.google.android.ump:user-messaging-platform:4.0.0" />
        <framework src="src/android/admob-test.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/core/util.kt" target-dir="app/src/main/kotlin/admob/plus/core" />
        <source-file src="src/android/cordova/AdMob.kt"
            target-dir="app/src/main/kotlin/admob/plus/cordova" />
        <source-file src="src/android/cordova/Privacy.kt"
            target-dir="app/src/main/kotlin/admob/plus/cordova" />
        <source-file src="src/android/cordova/ExecuteContext.kt"
            target-dir="app/src/main/kotlin/admob/plus/cordova" />
        <source-file src="src/android/cordova/Generated.kt"
            target-dir="app/src/main/kotlin/admob/plus/cordova" />
        <source-file src="src/android/cordova/ads/AdBase.kt"
            target-dir="app/src/main/kotlin/admob/plus/cordova/ads" />
        <source-file src="src/android/cordova/ads/WebViewAd.kt"
            target-dir="app/src/main/kotlin/admob/plus/cordova/ads" />
        <source-file src="src/android/cordova/ads/AppOpen.kt"
            target-dir="app/src/main/kotlin/admob/plus/cordova/ads" />
        <source-file src="src/android/cordova/ads/Banner.kt"
            target-dir="app/src/main/kotlin/admob/plus/cordova/ads" />
        <source-file src="src/android/cordova/ads/Interstitial.kt"
            target-dir="app/src/main/kotlin/admob/plus/cordova/ads" />
        <source-file src="src/android/cordova/ads/Native.kt"
            target-dir="app/src/main/kotlin/admob/plus/cordova/ads" />
        <source-file src="src/android/cordova/ads/Rewarded.kt"
            target-dir="app/src/main/kotlin/admob/plus/cordova/ads" />
        <source-file src="src/android/cordova/ads/RewardedInterstitial.kt"
            target-dir="app/src/main/kotlin/admob/plus/cordova/ads" />
        <source-file src="src/androidTest/PrivacyStateTest.kt"
            target-dir="app/src/test/kotlin/admob/plus/cordova" />
        <source-file src="src/androidTest/BannerLayoutTest.kt"
            target-dir="app/src/test/kotlin/admob/plus/cordova/ads" />
        <source-file src="src/androidTest/AdDispatchTest.kt"
            target-dir="app/src/test/kotlin/admob/plus/cordova" />

        <!-- AUTOGENERATED: ANDROID_BEGIN -->
        <!-- AUTOGENERATED: ANDROID_END -->
    </platform>
</plugin>
