.acode-tooltip {
	position: fixed;

	padding: 8px 12px;

	background: var(--popup-background-color);
	color: var(--popup-text-color);
	border: 1px solid
		color-mix(in srgb, var(--popup-text-color) 30%, var(--popup-background-color));
	box-shadow: 0 4px 12px var(--box-shadow-color);
	border-radius: var(--popup-border-radius);

	font-size: 13px;
	font-weight: 500;

	white-space: normal;
	overflow-wrap: anywhere;
	overflow: hidden;
	box-sizing: border-box;
	line-height: 1.4;

	pointer-events: none;

	opacity: 0;

	transform: translateY(5px);

	z-index: 999999;
}
.acode-tooltip-description {
	margin-top: 3px;
	font-size: 12px;
	font-weight: 400;
}
